Repository ttaggg/flooded_island: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-prettier, frontend-eslint

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Flooding Islands
# See https://pre-commit.com for more information

repos:
  # General file cleanup hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: mixed-line-ending

  # Python linting and formatting with Ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.1
    hooks:
      # Run the linter
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        files: ^backend/
      # Run the formatter
      - id: ruff-format
        files: ^backend/

  # Frontend formatting and linting (local hooks use project config)
  - repo: local
    hooks:
      - id: frontend-prettier
        name: Prettier (frontend)
        entry: bash -c 'cd frontend && for file in "$@"; do npx prettier --write "${file#frontend/}"; done' --
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
        pass_filenames: true
        require_serial: true

      - id: frontend-eslint
        name: ESLint (frontend)
        entry: bash -c 'cd frontend && for file in "$@"; do npx eslint --fix "${file#frontend/}"; done' --
        language: system
        files: ^frontend/src/.*\.(ts|tsx)$
        pass_filenames: true
        require_serial: true

rename env files
  .env.dev
  .env.prod.example
  .gitignore
  build.sh
  deploy.sh
  docs/current_task.md
  docs/progress.md
  docs/refactoring_plan.md
  start.sh
Due: none

refactor build and deploy scripts
  README.md
  build.sh
  deploy/README.md
  deploy/systemd/flooded-island-backend.service
  docs/current_task.md
  docs/progress.md
  docs/refactoring_brief.md
  docs/refactoring_plan.md
  scripts/build_dev.sh
  scripts/build_prod.sh
  scripts/deploy_dev.sh
  scripts/deploy_prod.sh
  scripts/stop_dev.sh
  scripts/stop_prod.sh
  start.sh
Due: none

clean and refactor deploy and stop scripts
  README.md
  deploy/README.md
  deploy/systemd/flooded-island-backend.service
  docs/current_task.md
  docs/progress.md
  scripts/build_dev.sh
  scripts/build_prod.sh
  scripts/deploy_dev.sh
  scripts/deploy_prod.sh
  scripts/stop_dev.sh
  scripts/stop_prod.sh
Due: none

remove refactoring docs
  docs/refactoring_brief.md
  docs/refactoring_plan.md
Due: none

make the size of field adaptive
  .pre-commit-config.yaml
  docs/current_task.md
  docs/progress.md
  frontend/src/components/GameBoard.tsx
Due: frontend-prettier, frontend-eslint

only use uv for py deps
  docs/current_task.md
  docs/progress.md
  scripts/deploy_dev.sh
  scripts/deploy_prod.sh
Due: none

Fix npm security vulnerabilities: upgrade to Tailwind v4 and Vite v7
  docs/current_task.md
  docs/progress.md
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.js
Due: frontend-prettier

fix npm and tailwind errors
  docs/current_task.md
  docs/progress.md
  frontend/src/index.css
  frontend/tailwind.config.js
  scripts/deploy_dev.sh
  scripts/deploy_prod.sh
Due: frontend-prettier

update eslint
  frontend/.eslintrc.cjs
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
Due: frontend-prettier

readme update, assets, misc fixes
  .env.dev
  .env.prod.example
  .gitignore
  README.md
  assets/screenshot_1.jpg
  assets/screenshot_2.jpg
  assets/screenshot_3.jpg
  backend/README.md
  backend/main.py
  deploy/README.md
  deploy/systemd/flooded-island-backend.service
  frontend/README.md
Due: frontend-prettier

make deploy_prod work
  backend/pyproject.toml
  scripts/deploy_prod.sh
Due: none

use uv without pip
  backend/pyproject.toml
  backend/requirements.txt
  deploy/README.md
  docs/tech_context.md
  scripts/deploy_dev.sh
  scripts/deploy_prod.sh
Due: none

remove dev docs
  docs/current_task.md
  docs/progress.md
  docs/tech_context.md
Due: none

update readme
  README.md
Due: none

update README again
  README.md
Due: none

change logo
  frontend/public/vite.svg
Due: none

smaller images
  README.md
Due: none
