Repository ttaggg/flooded_island: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-prettier, frontend-eslint

frontend-prettier:
  name: Prettier (frontend)
  entry: bash -c 'cd frontend && for file in "$@"; do npx prettier --write "${file#frontend/}"; done' --
  language: system
  pass_filenames: true
  require_serial: true

frontend-eslint:
  name: ESLint (frontend)
  entry: bash -c 'cd frontend && for file in "$@"; do npx eslint --fix "${file#frontend/}"; done' --
  language: system
  pass_filenames: true
  require_serial: true

fix the bug with naming conventions
  backend/routers/websocket.py
  docs/progress.md
Due: none

setup game configuration ui
  docs/current_task.md
  docs/progress.md
  frontend/src/App.tsx
  frontend/src/components/GameConfiguration.tsx
Due: frontend-prettier, frontend-eslint

setup board ui
  docs/current_task.md
  docs/progress.md
  frontend/src/App.tsx
  frontend/src/components/GameBoard.tsx
Due: frontend-prettier, frontend-eslint

allow rectangle islands
  backend/game/__init__.py
  backend/game/board.py
  backend/game/validator.py
  backend/game/win_checker.py
  backend/models/game.py
  backend/models/messages.py
  backend/routers/websocket.py
  docs/current_task.md
  docs/game_rules.md
  docs/progress.md
  docs/technical_spec.md
  frontend/src/components/GameBoard.tsx
  frontend/src/components/GameConfiguration.tsx
  frontend/src/hooks/useGameState.ts
  frontend/src/types/game.ts
  frontend/src/types/messages.ts
Due: frontend-prettier, frontend-eslint

fix the preview island field
  frontend/src/components/GameConfiguration.tsx
Due: frontend-prettier, frontend-eslint

hover states, click handlers, highlight
  docs/current_task.md
  docs/progress.md
  frontend/src/App.tsx
  frontend/src/components/Field.tsx
  frontend/src/components/GameBoard.tsx
Due: frontend-prettier, frontend-eslint

field animations
  docs/current_task.md
  docs/progress.md
  frontend/src/components/Field.tsx
  frontend/src/index.css
Due: frontend-prettier, frontend-eslint

turn control components
  docs/current_task.md
  docs/progress.md
  frontend/src/App.tsx
  frontend/src/components/GameBoard.tsx
  frontend/src/components/TurnControls.tsx
Due: frontend-prettier, frontend-eslint

drying preview
  docs/current_task.md
  docs/progress.md
  frontend/src/components/Field.tsx
  frontend/src/components/GameBoard.tsx
Due: frontend-prettier, frontend-eslint

game over screen
  docs/current_task.md
  docs/progress.md
  frontend/src/App.tsx
  frontend/src/components/GameOver.tsx
  frontend/src/hooks/useGameState.ts
Due: frontend-prettier, frontend-eslint

track connection status
  backend/routers/websocket.py
  docs/current_task.md
  docs/progress.md
  frontend/src/App.tsx
  frontend/src/components/ConnectionStatus.tsx
  frontend/src/components/GameBoard.tsx
  frontend/src/components/GameConfiguration.tsx
  frontend/src/components/RoleSelection.tsx
  frontend/src/hooks/useGameState.ts
  frontend/src/index.css
  frontend/src/utils/websocket.ts
Due: frontend-prettier, frontend-eslint

add home page
  docs/current_task.md
  docs/progress.md
  frontend/src/App.tsx
  frontend/src/components/Home.tsx
  frontend/src/utils/roomId.ts
Due: frontend-prettier, frontend-eslint

modify implementation plan
  docs/implementation_plan.md
Due: none

docs for frontend
  docs/current_task.md
  docs/progress.md
  frontend/src/components/Field.tsx
  frontend/src/components/GameBoard.tsx
  frontend/src/components/GameConfiguration.tsx
  frontend/src/components/GameOver.tsx
  frontend/src/components/RoleSelection.tsx
  frontend/src/components/TurnControls.tsx
Due: frontend-prettier, frontend-eslint

rename the game
  README.md
  backend/README.md
  backend/game/__init__.py
  backend/game/board.py
  backend/game/room_manager.py
  backend/game/validator.py
  backend/game/win_checker.py
  backend/main.py
  backend/models/__init__.py
  backend/models/game.py
  backend/models/messages.py
  backend/routers/websocket.py
  docs/game_rules.md
  docs/implementation_plan.md
  docs/progress.md
  docs/project_brief.md
  frontend/README.md
  frontend/index.html
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/GameBoard.tsx
  frontend/src/components/GameConfiguration.tsx
  frontend/src/components/GameOver.tsx
  frontend/src/components/Home.tsx
  frontend/src/components/RoleSelection.tsx
  frontend/src/hooks/useGameState.ts
  frontend/src/types/game.ts
  frontend/src/types/messages.ts
  frontend/src/utils/roomId.ts
  frontend/src/utils/websocket.ts
  run.sh
  stop.sh
Due: frontend-prettier, frontend-eslint

fix readme
  README.md
  start.sh
Due: none

change background color
  frontend/src/App.tsx
  frontend/src/components/GameBoard.tsx
  frontend/src/components/GameConfiguration.tsx
  frontend/src/components/GameOver.tsx
  frontend/src/components/Home.tsx
  frontend/src/components/RoleSelection.tsx
  frontend/src/index.css
Due: frontend-prettier, frontend-eslint

make the field larger
  docs/current_task.md
  docs/progress.md
  frontend/src/components/GameBoard.tsx
  frontend/src/components/GameConfiguration.tsx
Due: frontend-prettier, frontend-eslint

separate base
  frontend/vite.config.ts
Due: frontend-prettier

quick fixes
  backend/main.py
  frontend/vite.config.ts
Due: frontend-prettier

more quickfixes
  backend/main.py
Due: none

auto apply weather turn
  frontend/src/components/TurnControls.tsx
  frontend/src/hooks/useGameState.ts
Due: frontend-prettier, frontend-eslint

configure number of flooded fields
  backend/game/validator.py
  backend/models/game.py
  backend/models/messages.py
  backend/routers/websocket.py
  docs/current_task.md
  docs/game_rules.md
  docs/progress.md
  frontend/src/components/GameBoard.tsx
  frontend/src/components/GameConfiguration.tsx
  frontend/src/components/TurnControls.tsx
  frontend/src/hooks/useGameState.ts
  frontend/src/types/game.ts
  frontend/src/types/messages.ts
Due: frontend-prettier, frontend-eslint

rename journeyman into adventurer
  README.md
  backend/game/__init__.py
  backend/game/room_manager.py
  backend/game/validator.py
  backend/game/win_checker.py
  backend/models/game.py
  backend/models/messages.py
  backend/routers/websocket.py
  docs/current_task.md
  docs/game_rules.md
  docs/implementation_plan.md
  docs/progress.md
  docs/project_brief.md
  docs/tech_context.md
  docs/technical_spec.md
  docs/ui_design.md
  frontend/src/components/ConnectionStatus.tsx
  frontend/src/components/Field.tsx
  frontend/src/components/GameBoard.tsx
  frontend/src/components/GameConfiguration.tsx
  frontend/src/components/GameOver.tsx
  frontend/src/components/Home.tsx
  frontend/src/components/RoleSelection.tsx
  frontend/src/components/TurnControls.tsx
  frontend/src/hooks/useGameState.ts
  frontend/src/types/game.ts
  frontend/src/types/messages.ts
Due: frontend-prettier, frontend-eslint

fix mobile
  frontend/src/App.tsx
  frontend/src/hooks/useGameState.ts
  frontend/src/hooks/useWebSocket.ts
  frontend/src/utils/websocket.ts
Due: frontend-prettier, frontend-eslint

fix local execution
  start.sh
Due: none

modify game setup: separate step
  backend/models/game.py
  backend/routers/websocket.py
  frontend/src/App.tsx
  frontend/src/components/ConnectionStatus.tsx
  frontend/src/components/GameConfiguration.tsx
  frontend/src/components/RoleSelection.tsx
  frontend/src/hooks/useGameState.ts
  frontend/src/types/game.ts
Due: frontend-prettier, frontend-eslint

fix import
  frontend/src/App.tsx
Due: frontend-prettier, frontend-eslint

build script
  build.sh
  frontend/package-lock.json
  frontend/src/utils/websocket.ts
Due: frontend-prettier, frontend-eslint

install uv during build
  build.sh
Due: none

fix build.sh
  build.sh
Due: none

paths in build.sh
  build.sh
Due: none

more logging for connection + fallback ports
  backend/main.py
Due: none

last attempt to make mobile work on remote deployment
  backend/main.py
  backend/routers/websocket.py
  build.sh
  frontend/src/utils/websocket.ts
Due: frontend-prettier, frontend-eslint

Revert "more logging for connection + fallback ports"
  backend/main.py
  backend/routers/websocket.py
  build.sh
  frontend/src/utils/websocket.ts
Due: frontend-prettier, frontend-eslint

deploy tools
  README.md
  build.sh
  deploy.sh
  deploy/README.md
  deploy/nginx/flooded-island.conf
  deploy/systemd/flooded-island-backend.service
  docs/current_task.md
Due: none

plan for bugs fix
  docs/current_task.md
  docs/progress.md
  docs/refactoring_brief.md
  docs/refactoring_plan.md
Due: none

fix bug with incorrect hostnames
  .env_dev
  .env_prod.example
  .gitignore
  backend/main.py
  build.sh
  deploy.sh
  docs/current_task.md
  docs/progress.md
  docs/refactoring_plan.md
  frontend/src/utils/websocket.ts
  start.sh
Due: frontend-prettier, frontend-eslint

update gitignore
  .gitignore
Due: none

add health status
  backend/main.py
  deploy.sh
  docs/current_task.md
  docs/progress.md
Due: none

Path conditions:
  frontend-prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
  frontend-eslint: any of: ^frontend/src/.*\.(ts|tsx)$
